<div class="pages navbar-through toolbar-through">
    <div class="navbar">
        <div class="navbar-inner navbar-on-left">
            <div class="center sliding" style="left: 189.5px; -webkit-transform: translate3d(-170.5px, 0px, 0px);">
                Framework7
            </div>
            <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a>
            </div>
        </div>

        <div class="navbar-inner navbar-on-center">
            <div class="left sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a ui-sref="main({category: category})" class="back link">
                    <i class="icon icon-back-blue" style="-webkit-transform: translate3d(0px, 0px, 0px);"></i>
                    <span>Back</span>
                </a>
            </div>
            <div class="center sliding" style="left: -7px; -webkit-transform: translate3d(0px, 0px, 0px);">
                VoiceUp
            </div>
            <div class="right sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a ui-sref="main({category: category})" class="back link" add-comment>
                    <span>Done</span>
                </a>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">

            <div class="list-block">
                <ul>
                    <li class="align-top">
                        <div class="item-content" ng-style="{'background' : background }">
                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <textarea ng-model="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            {{ analyzed.sentiment_score }}

        </div>
    </div>
</div>
