<div class="pages navbar-through toolbar-through">
    <div class="navbar">
        <div class="navbar-inner navbar-on-left">
            <div class="center sliding" style="left: 189.5px; -webkit-transform: translate3d(-170.5px, 0px, 0px);">
                Framework7
            </div>
            <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a>
            </div>
        </div>

        <div class="navbar-inner navbar-on-center">

            <div class="left sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a ui-sref="main({category: category})" class="back link">
                    <i class="icon icon-back-white" style="-webkit-transform: translate3d(0px, 0px, 0px);"></i>
                    <span></span>
                </a>
            </div>
            <div class="right sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a ui-sref="main({category: category})" class="back link" id="submit" add-comment>
                    <span>Post</span>
                </a>
            </div>

        </div>
    </div>

    <div class="page">
        <div class="page-content" style="background:#000">

            <div class="list-block">
                <ul>
                    <li class="align-top">
                        <div id="bg-compose" ng-style="{'background-image' : 'url(' + image +')'}">
                            <!-- <div class="item-content" id="compose-textarea" ng-style="{'background-color' : background }"> --><div class="item-content" id="compose-textarea">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <textarea ng-model="comment"
                                                  placeholder="What's the culture like?"
                                                  maxlength="200"></textarea>
                                    </div>
                                </div>
                                <div id="compose-toolbar">

                                    {{ analyzed.sentiment_score }}
                                    <img id="shuffle-img" src="shuffle.png" shuffle>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <p class="warning">- Who will see this? -</p>

        </div>
    </div>
</div>
