<div class="panel-overlay"></div>
<div class="panel panel-left panel-cover">
    <div class="content-block-title">Channels</div>
    <div class="list-block">
        <ul>
            <li ng-repeat="cat in categories">
                <a ng-click="filterNow(cat)" class="close-panel item-link">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">{{ cat }}</div>
                        </div>
                    </div>
                </a>
            </li>
            <li><a id="feedback"><div class="item-content">
                <div class="item-inner" onclick="send_feedback()"><div class="item-title ng-binding">Send Feedback</div></div></div></a>
            </li>
        </ul>
        
    </div>
</div>

<div class="pages navbar-through toolbar-through">
    <div class="navbar">

        <div class="navbar-inner navbar-on-center">
            <div class="left sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a class="button open-panel"></a>
            </div>
            <!-- <div class="center sliding" style="left: -7px; -webkit-transform: translate3d(0px, 0px, 0px);">
                Voice&nbsp;<b>UP...</b>
            </div> -->
            <div class="center sliding" style="left: -7px; -webkit-transform: translate3d(0px, 0px, 0px);">
                Global</b>
            </div>
            <div class="right" id="compose">
                <a ui-sref="add({category:category})" class="link icon-only"><i class="icon icon-plus-sign"></i>
                    <img src="compose2.png">
                </a>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">

            <div class="list-block media-list">
                <ul>
                    <!-- <li class="" ng-repeat="comment in comments | filter:{'category' : category }" 
                        ng-swipe-right="voteYes(comment.id)" ng-swipe-left="voteNo(comment.id)">
                        <div class="bg-image" ng-style="{'background' : '#000 url(' + comment.image +')'}" style="background-size:contain;background-repeat:no-repeat;background-position:center;"> -->
                    <li class="" ng-repeat="comment in comments | filter:{'category' : category } | orderBy: 'id':true">
                        <div class="bg-image" ng-style="{'background' : '#000 url(' + comment.image +')'}" style="background-size:contain;background-repeat:no-repeat;background-position:center;">
                            <!-- <a class="item-link item-content" ng-style="{'background' : comment.color }"> -->
                            <a class="item-link item-content" ui-sref="conversations({comment:comment})"  ng-click="getCommentByID(comment.id)">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title"></div>
                                        <div class="item-after">{{ comment.timestamp * 1000 | date: 'h:mm::ss a' }}
                                        </div>
                                    </div>
                                    <div class="item-subtitle">
                                        <b>Positiveness {{ (comment.sentiment.sentiment_score + 2) * 25 | number }}</b>
                                    </div>
                                    <div class="item-text">{{ comment.text }}</div>
                                    <div class="vote">
                                        <img style="width:50px; margin-top: -65px; display:none; position:absolute;"
                                             src="thumbs-up.svg">
                                        <img style="width:50px; margin-top: -65px; right:0; display:none; position:absolute;"
                                             src="thumbs-down.svg">

                                    </div>
                                </div>
                            </a></div>
                        <div class="item-control">
                            <div class="left">
                                <div class="comment"><b>{{ comment.comments.length }} Comments</b></div>
                                <div class="flag"><b>···</b></div>
                            </div>
                            <div class="fav">
                                <a class="button dislike" ng-click="voteNo(comment.id)"><img src="dislike.png">{{ comment.dislikes }}</a>
                                <a class="button like" ng-click="voteYes(comment.id)"><img src="like.png"><i class="fa fa-thumbs-o-up"></i>{{ comment.likes }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

