<div class="pages navbar-through toolbar-through">
    <div class="navbar">
        <div class="navbar-inner navbar-on-left">
            <div class="center sliding" style="left: 189.5px; -webkit-transform: translate3d(-170.5px, 0px, 0px);">
                Framework7
            </div>
            <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a>
            </div>
        </div>

        <div class="navbar-inner navbar-on-center">
            <div class="left sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a href="#" class="back link">
                    <i class="icon icon-back-blue" style="-webkit-transform: translate3d(0px, 0px, 0px);"></i>
                    <span>Back</span>
                </a>
            </div>
            <div class="center sliding" style="left: -7px; -webkit-transform: translate3d(0px, 0px, 0px);">
                VoiceUp
            </div>
            <div class="right">
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <p>Your email and telephone will be unlinked from this account to retain anonymity</p>
            <ul style="list-style-type: none;">
                <li><strike>Email: gary@somecompany.com</strike></li>
                <li><strike>Phone: 555-555-5555</strike></li>
            </ul>

            <form action="/" method="get" name="myForm">
              username: <input type="text" name="username"><br>
              <input type="button" onclick="location.href='index.html';" value="Submit">
            </form>
        </div>
    </div>
</div>

