<div class="pages navbar-through toolbar-through">
    <div class="navbar">
        <div class="navbar-inner navbar-on-left">
            <div class="center sliding" style="left: 189.5px; -webkit-transform: translate3d(-170.5px, 0px, 0px);">
                Framework7
            </div>
            <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a>
            </div>
        </div>

        <div class="navbar-inner navbar-on-center">
            <div class="left sliding" style="-webkit-transform: translate3d(0px, 0px, 0px);">
                <a href="#" class="back link">
                    <i class="icon icon-back-blue" style="-webkit-transform: translate3d(0px, 0px, 0px);"></i>
                    <span>Back</span>
                </a>
            </div>
            <div class="center sliding" style="left: -7px; -webkit-transform: translate3d(0px, 0px, 0px);">
                VoiceUp
            </div>
            <div class="right">
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page-content" style="background:#fff">
            <p style="margin:0 20px;font-weight:100;padding:20px 0;font-size:25px">Your email and telephone will be unlinked from this account to retain anonymity.</p>
            <ul style="list-style-type: none;margin-left:15%; font-weight:100;font-size:20px">
                <li><strike><b>Email:</b> gary@infinitesky.co</strike></li>
                <li><strike><b>Phone:</b> 555-555-5555</strike></li>
            </ul>

            <div class="submit" style="margin-top:60px;">
                 <button style="display:block;margin:0 auto;border:0;padding:10px;background:#cc3701;color:#fff;font-size:20px;" onclick="location.href='#/main/';">Continue</button>

            </div>
            <!-- <label style="margin:0 20px">Please enter a random username for login reasons:</label>

            <form action="/" method="get" name="myForm">

              Username: <input type="text" name="username"><br>
              <input type="button" onclick="location.href='index.html';" value="Submit">
            </form>

            <style>

            </style> -->
        </div>
    </div>
</div>

